* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #4682B4, #244747, #0a8657);
    /* background: black; */
}

.datetime {
    color: #fff;
    background: #10101e;
    width: 410px;
    padding: 15px 10px;
    border: 3px solid #2e94e3;
    border-radius: 15px;
    -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(255, 255, 255, 0.192));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.datetime:hover {
    background: #2e94e3;
    box-shadow: 0 0 30px #2e94e3;
}

.date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
}

.time span:last-child {
    font-size: 18px;
    letter-spacing: 0;
    border: 1px solid rgb(208, 219, 228);
    padding: 12px;
    border-radius: 4px;
    margin: 14px 0;
}